.row {
    color: #434656;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4.2rem;
}

.row.last-row {
    margin-bottom: 0;
}

.row:after {
    clear: both;
}

.row:after {
    content: " ";
    display: table;
}

.row h2 {
    position: relative;
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 1.71rem;
    font-size: 1.14rem;
    text-align: left;
    font-style: italic;
    font-weight: 300;
}

.row h2.h2-center:before,
.row h2:after {
    content: "";
    flex-grow: 1;
    background: rgba(66, 69, 84, .5);
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin: 0 1rem;
    align-self: flex-end;
}

.row h2.font-md {
    font-size: 1.28rem;
}

.row h2.font-lg {
    font-size: 1.42rem;
}

.row h2 > img {
    color: #434656;
    margin-right: .3rem;
}

.row h2 > img.img-sm {
    width: 20px;
    height: 20px;
}

.row h2 > img.img-lg {
    width: 35px;
    height: 35px;
}

.row > div:first-child {
    padding-right: 3rem;
}

.row > div:last-child {
    padding-left: 3rem;
}

.row .col-1 {
    width: calc(100% / 12);
}

.row .col-2 {
    width: calc(100% / 6);
}

.row .col-3 {
    width: calc(100% / 4);
}

.row .col-4 {
    width: calc(100% / 3);
}

.row .col-5 {
    width: calc(100% / 2.4);
}

.row .col-6 {
    width: calc(100% / 2);
}

.row .col-7 {
    width: calc(calc(100% / 12) * 7);
}

.row .col-8 {
    width: calc(100% / 1.5);
}

.row .col-9 {
    width: calc(calc(100% / 12) * 9);
}

.row .col-10 {
    width: calc(100% / 1.2);
}

.row .col-11 {
    width: calc(calc(100% / 12) * 11);
}

.row .col-12 {
    width: 100%;
}